.container {
  max-width: 940px;
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 952px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992.98px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 90%;
    padding: 0 10px;
  }
}

@font-face {
  font-family: "SourceSansPro-300";
  src: url("../fonts/SourceSansPro-Light.woff2") format("woff2"), url("../fonts/SourceSansPro-Light.woff") format("woff"), url("../fonts/SourceSansPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro-400";
  src: url("../fonts/SourceSansPro-Regular.woff2") format("woff2"), url("../fonts/SourceSansPro-Regular.woff") format("woff"), url("../fonts/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSansCyrl-500";
  src: url("../fonts/Museosanscyrl500.woff2") format("woff2"), url("../fonts/Museosanscyrl500.woff") format("woff"), url("../fonts/Museosanscyrl500.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro-700";
  src: url("../fonts/SourceSansPro-Bold.woff2") format("woff2"), url("../fonts/SourceSansPro-Bold.woff") format("woff"), url("../fonts/SourceSansPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro-900";
  src: url("../fonts/SourceSansPro-Black.woff2") format("woff2"), url("../fonts/SourceSansPro-Black.woff") format("woff"), url("../fonts/SourceSansPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "SourceSansPro-400", sans-serif;
  font-size: 14px;
  background: #ffffff;
}

h1 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  outline: none;
  cursor: pointer;
}

.btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 0.5em 1em;
  font: inherit;
  color: inherit;
  transition: all 0.5s;
  height: 45px;
  box-shadow: 0 5px 5px rgba(1, 1, 1, 0.1);
  border-radius: 23px;
  background-color: #68b0c9;
  border: none;
}

.input {
  display: block;
  outline: none;
  padding: 0.5em 1em;
  transition: all 0.3s;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #e8e8e8;
  font-size: 13px;
  /* Firefox 19+ */
  /* Firefox 18- */
}

.input::placeholder {
  text-align: center;
}

.input::-webkit-input-placeholder {
  color: #9c9c9c;
}

.input::-moz-placeholder {
  color: #9c9c9c;
}

.input:-moz-placeholder {
  color: #9c9c9c;
}

.input:-ms-input-placeholder {
  color: #9c9c9c;
}

.input::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.input::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.input:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.input:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.input:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.input:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.title {
  color: #535353;
  font-size: 41px;
  font-weight: 400;
  line-height: 50px;
}

.subtitle {
  color: #68b0c9;
  font-size: 27px;
  font-weight: 400;
  line-height: 42px;
}

.header-inner {
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 400px) {
  .header-inner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.header__logo {
  display: inline-flex;
}

@media (max-width: 400px) {
  .header__logo {
    margin: 20px;
  }
}

.header-box {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
}

@media (max-width: 400px) {
  .header-box {
    display: none;
  }
}

.header-box__phone {
  color: #535353;
  font-size: 24px;
  line-height: 40px;
}

.header-box__callback {
  color: #68b0c9;
}

.top {
  padding: 80px 0 60px;
  min-height: 580px;
  background: url(../img/top-bg.jpg) #eaf1f6;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 1700px) {
  .top {
    background-position: 30% 0;
  }
}

@media (max-width: 767px) {
  .top {
    background-position: 40% 0;
  }
}

.top__title {
  text-align: right;
}

@media (max-width: 768px) {
  .top__title {
    font-size: 34px;
  }
}

@media (max-width: 520px) {
  .top__title {
    font-size: 24px;
  }
}

.top__subtitle {
  text-align: right;
  margin-bottom: 65px;
}

@media (max-width: 768px) {
  .top__subtitle {
    font-size: 20px;
    margin-bottom: 25px;
  }
}

@media (max-width: 520px) {
  .top__subtitle {
    font-size: 18px;
  }
}

.top__callback {
  display: block;
  text-align: center;
  margin-left: auto;
  padding: 35px;
  width: 300px;
  height: 240px;
  box-shadow: 0 0 38px rgba(104, 176, 201, 0.34);
  border-radius: 20px;
  background-color: #ffffff;
}

@media (max-width: 330px) {
  .top__callback {
    transform: translateX(-5%);
  }
}

.top__callback-heading {
  font-size: 20px;
  color: #68b0c9;
  margin-bottom: 14px;
}

.top__callback-subheading {
  font-size: 12px;
  color: #000;
  margin-bottom: 19px;
}

.top__callback-input {
  width: 100%;
  margin-bottom: 15px;
}

.top__callback-btn {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */